@model dynamic

@{
}

<div class="row">
    <div class="span3"><div class="box-home">
        <a href="/page/viabilidade">
            <img src="~/Content/gdp/home/viabilidade.jpg" alt="Viabilidade"/>
            <h3 class="box-titulo">Viabilidade</h3>
        </a>
    </div></div>
    <div class="span3"><div class="box-home">
        <a href="/page/estudos-preliminares">
            <img src="~/Content/gdp/home/estudos-preliminares.jpg" alt="Estudos Preliminares"/>
            <h3 class="box-titulo">Estudos Preliminares</h3>
        </a>
    </div></div>
    <div class="span3"><div class="box-home">
        <a href="/page/projeto-basico">
            <img src="~/Content/gdp/home/projeto-basico.jpg" alt="Projeto Básico"/>
            <h3 class="box-titulo">Projeto Básico</h3>
        </a>
    </div></div>
    <div class="span3"><div class="box-home">
        <a href="/page/projeto-executivo">
            <img src="~/Content/gdp/home/projeto-executivo.jpg" alt="Projeto Executivo"/>
            <h3 class="box-titulo">Projeto Executivo</h3>
        </a>
    </div></div>
</div>

<div class="row clearfix" style="margin-top: 20px">
    <div class="span3"><div class="box-home">
        <a href="/page/consultoria">
            <img src="~/Content/gdp/home/consultoria.jpg" alt="Consultoria"/>
            <h3 class="box-titulo">Consultoria</h3>
        </a>
    </div></div>
    <div class="span6"><div class="box-home">
        <a href="/page/arquitetura-de-processo">
            <img src="~/Content/gdp/home/arquitetura-de-processo.jpg" alt="Arquitetura de Processo - BIM"/>
            <h3 class="box-titulo">Arquitetura de Processo - BIM</h3>
        </a>
    </div></div>
    <div class="span3"><div class="box-home">
        <a href="/page/gerenciamento">
            <img src="~/Content/gdp/home/gerenciamento.jpg" alt="Gerenciamento"/>
            <h3 class="box-titulo">Gerenciamento</h3>
        </a>
    </div></div>
</div>
