@{
    
}

<h2 class="page-title">Arquitetura de Processo</h2>

<div class="arquitetura-zoom"><img id="arquitetura-img" src="~/Content/gdp/internas/arquitetura-de-processo.jpg" data-big="@Url.Content("~/Content/gdp/internas/arquitetura-de-processo-full.jpg")"/></div>

@section Scripts{
    <script src="//gs-libs.googlecode.com/files/jquery.gs-innerzoom.min.js"></script>
    <script> $(function () { $("#arquitetura-img").GSInnerZoom({magnify : true}); }); </script>
}

