@{
    
}

<h2 class="page-title">Estudos e Consultoria</h2>

<p>GDP vem desenvolvendo estudos e consultorias para organizações privadas, setoriais
    e governamentais nas áreas relacionadas à Tecnologias e Inovação na construção,
    em especial em aplicações de Tecnologias de Informação, com ênfase em BIM
    – Building Information Modelling. Em complementação à nossa própria expertise
    contamos com um extensa rede de colaboradores em diversas universidades.
    Clientes: FIESP, ACBP, ABNT, Ceramicalys, Porto Novo, CDURP.</p>

<h3 class="page-subtitle">Áreas de Atuação</h3>

<h4>Implantação do BIM em empresas de construção</h4>

<p>Consultoria para processos de implantação de BIM em empresas de projeto,
    construção e planejamento, através de treinamento avançado, desenvolvimento de
    templates de projeto, metodologia e processos de integração entre projeto, orçamento,
    planejamento e controle de obras por meio de bancos de dados.</p>

<h4>Estudos setoriais</h4>

<p>Análises de impactos das inovações tecnológicas no setor da construção e seus
    diferentes segmentos:</p>

<ul>
    <li>Estudos de aplicação de coordenação modular a produtos e setores industriais.</li>
    <li>Estudo da nacionalização de critérios para a legislação de edificações
        habitacionais</li>
    <li>Desenvolvimento de bibliotecas de componentes nacionais para BIM</li>
    <li>Desenvolvimento de templates e famílias de componentes correntes em obras
        do MCMV.</li>
</ul>

<h4>Avaliação de desempenho</h4>

<p>Através de modelos nD e softwares especializados a GDP está capacitada
a desenvolver simulações de desempenho energético, acústico e ambiental
de diferentes cenários e soluções construtivas, minimizando riscos para o
empreendimentos e garantindo o atendimento da ABNT NBR 15 575.</p>