@{
    
}

<h2 class="page-title">Estudos Preliminares</h2>

<p>Os estudos preliminares desenvolvidos através de modelos virtuais possibilitam ir além de
uma análise arquitetônica usual. A visualização desde etapas iniciais leva a uma melhor
avaliação de seu impacto estético e da solução de todos os aspectos da obra, seja estrutural ,
construtivo, de fluxos de pessoas . Através da integração com bases de dados internas
ou externas, o modelo permite obter estimativas de custos e de prazos de execução mais
precisas. Além disso, é possível desenvolver simulações básicas de desempenho energético ,
lumínico e acústico, dando mais confiabilidade a solução do projeto.</p>