@{
    
}

<h2 class="page-title">Gerenciamento de Obras e Projetos</h2>

<p>O modelo virtual da construção é uma base sólida para as tarefas de gerenciamento. A
    integração do REVIT com softwares como PROJECT ou PRIMAVERA garante que todos os
    elementos e componentes da obra estejam considerados no planejamento. A validação do
    modelo no NAVISWORKS permite eliminar discrepâncias que tenham passado despercebidas,
    evitando-se conflitos que muitas vezes só seriam percebidos na execução.</p>

<p>Ferramentas de controle de campo, inclusive em computadores móveis ou tablets , permitem
visualização e controle de andamento conectado a bases de dados via WEB, de modo
a termos atualização em tempo real de todos cronogramas e controles de serviços e de
suprimentos.</p>