@{
    
}

<h2 class="page-title">Projeto Básico</h2>

<p>O modelo virtual para o Projeto Básico explora de modo mais aprofundado a solução de
projeto. Ferramentas automatizadas de quantificação de áreas permitem absoluta precisão
da descrição legal do projeto de modo a termos uma documentação consistente e confiável
para a obtenção de licenciamentos. A coordenação de projetos complementares através do
modelo 3D inibe os conflitos entre as diferentes disciplinas, garantindo que todos elas sejam
corretamente desenvolvidas, sem incompatibilidades.</p>