@{
    
}

<h2 class="page-title">Projeto Executivo</h2>

<p>Nesta etapa é desenvolvido um modelo virtual da construção, contemplando todas as
dimensões e informações necessárias ao bom desenvolvimento da obra. A automação
de extração de dados , tais como especificações e quantitativos para suprimentos , para
planejamento e controle da obra, garante confiabilidade e precisão a todos estes processos.
A partir do modelo virtual é possível simular tanto o uso e desempenho da edificação como
diferentes possibilidades de execução, de modo a atingir o melhor equilíbrio de recursos.</p>