@{
    
}

<h2 class="page-title">Viabilidade</h2>

<p>A GDP desenvolveu uma metodologia original para a execução de estudos de viabilidade
físico financeira com apoio de ferramentas BIM. Para cada estudo são criados e comparados
diferentes cenários, com volumetria 3D e estimativas de custos automatizadas , calculadas
a partir de diferentes tipos de soluções construtivas e de padrões de acabamentos. Uma vez
geradas as soluções de implantação, seus indicadores de custos são exportados para planilhas
comparativas de rentabilidade, prazos etc.</p>